<div *ngIf="authService.user | async">
<form>
  <div class="col-lg-8 col-md-10 col-xs-12 form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="¿Qué quieres publicar?"></textarea>
  </div>
</form>
</div>

<!-- Forma del ejemplo -->
<form [formGroup]="publish" (ngSubmit)="addPublish()">
  <p>Imagen</p>
  <input #image type="text" formControlName="image">
  <p>Texto</p>
  <input #description type="text" formControlName="description">

  <button type="submit" [disabled]="!publish.valid">
    Publicar
  </button>
</form>
<p>
  {{publish.value | json}}
  {{publish.status}}
  {{publish.get('title').errors | json}}
</p>